<h1>Your Booking Information</h1>

<h2>Flight: <%= @booking.flight.id %></h2>
<p>
  <% @booking.passengers.each do |passenger| %>
    <p>Passenger Name: <%= passenger.firstname %> <%= passenger.lastname %></p>
    <p>Passenger Email: <%= passenger.email %></p>
  <% end %>
</p>